#show_container
{
	background:#fff;
	margin:0 auto;
	text-align:left;
	margin-top: 50px;
	padding-top: 20px;
	width:70%;
	min-height: 500px;
	height: 85%;
}
#show_container * {
	color: #000;
}
.show_title{
	padding-left: 20px;
}
.show_table {
	width: 95%;
	margin:10px;
	border: rgba(0,0,0,0.1) 1px solid;
}
.show_table tr td {
	padding:6px;
}
.show_table tr th{
	padding: 10px 5px 10px 5px;
}
